:root {
  --first-font: 'Roboto';
  --second-font: 'Raleway';
  --color-accent: #2196F3;
  --text-black: #212121;
  --text-grey: #757575;
  --bg-dark: #2F303A;
  --bg-grey: #F5F4FA;
  --white: #ffffff;
  --black: #000000;
  --icon-grey: #AFB1B8;
  --hover-cubic: cubic-bezier(0.4, 0, 0.2, 1)
;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.btn {
  border-style: none;
  cursor: pointer;
}

body {
  font-family: var(--first-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-accent);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--black {
  color: var(--black);
}

.logo--white {
  color: var(--white);
}

.btn-standart {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  max-width: 100%;
  padding: 10px 0;
  -webkit-transition: background-color 250ms var(--hover-cubic);
  transition: background-color 250ms var(--hover-cubic);
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-standart:hover, .btn-standart:focus {
  background-color: #188ce8;
}

.btn-standart--add-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-standart__icon--end {
  margin-left: 10px;
}

.btn-standart__icon--start {
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--hover-cubic), visibility 250ms var(--hover-cubic);
  transition: opacity 250ms var(--hover-cubic), visibility 250ms var(--hover-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  opacity: 0;
}

.modal {
  position: absolute;
  width: 528px;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--hover-cubic), -webkit-transform 250ms var(--hover-cubic);
  transition: opacity 250ms var(--hover-cubic), -webkit-transform 250ms var(--hover-cubic);
  transition: transform 250ms var(--hover-cubic), opacity 250ms var(--hover-cubic);
  transition: transform 250ms var(--hover-cubic), opacity 250ms var(--hover-cubic), -webkit-transform 250ms var(--hover-cubic);
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  -webkit-transition: color 250ms var(--hover-cubic);
  transition: color 250ms var(--hover-cubic);
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-close:hover, .btn-close:focus {
  color: var(--color-accent);
}

.btn-close__icon {
  fill: currentColor;
}

.modal__title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--text-black);
}

.form__label,
.form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__label {
  width: 100%;
}

.form__input-box {
  position: relative;
  width: 100%;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.form__label:not(:nth-last-child(-n + 3)) {
  margin-bottom: 10px;
}

.form__label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--text-grey);
}

.form__label-text:last-child {
  margin: 0;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  -webkit-transition: border-color 250ms var(--hover-cubic);
  transition: border-color 250ms var(--hover-cubic);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input:focus,
.form__textarea:focus {
  border-color: var(--color-accent);
  outline: 0px;
}

.form__input:focus + .form__icon {
  fill: var(--color-accent);
}

.comment {
  margin-bottom: 20px;
}

.form__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.confirm {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.form__custom-checkbox {
  border: 1px solid var(--text-black);
  border-radius: 2px;
  -webkit-transition: background-color 250ms var(--hover-cubic);
  transition: background-color 250ms var(--hover-cubic);
}

.form__checkbox:focus + .form__custom-checkbox {
  border-color: var(--color-accent);
}

.form__checkbox:checked + .form__custom-checkbox {
  background-color: var(--color-accent);
  border: 0;
}

.confirm__label-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-left: 7px;
  color: var(--text-grey);
}

.confirm__link-checkbox {
  color: var(--color-accent);
}

.form__btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms var(--hover-cubic);
  transition: background-color 250ms var(--hover-cubic);
  color: var(--white);
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form__btn-submit:hover,
.form__btn-submit:focus {
  background-color: #188ce8;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--hover-cubic);
  transition: color 250ms var(--hover-cubic);
  color: var(--text-grey);
}

.contact__link:hover, .contact__link:focus {
  color: var(--color-accent);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--hover-cubic), color 250ms var(--hover-cubic);
  transition: background-color 250ms var(--hover-cubic), color 250ms var(--hover-cubic);
  color: var(--icon-grey);
  background-color: var(--white);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--color-accent);
  color: var(--white);
}

.social-list__icon {
  fill: currentColor;
}

.subscribe__label {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white);
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-form__input {
  display: block;
  padding: 15px 16px;
  width: 358px;
  margin-right: 12px;
  -webkit-transition: border-color 250ms var(--hover-cubic);
  transition: border-color 250ms var(--hover-cubic);
  color: var(--white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe-form__input:focus {
  border: 3px solid var(--color-accent);
  outline: 0;
}

.subscribe-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-child {
  margin: 0;
}

.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  -webkit-transition: color 250ms var(--hover-cubic), background-color 250ms var(--hover-cubic), -webkit-box-shadow 250ms var(--hover-cubic);
  transition: color 250ms var(--hover-cubic), background-color 250ms var(--hover-cubic), -webkit-box-shadow 250ms var(--hover-cubic);
  transition: color 250ms var(--hover-cubic), background-color 250ms var(--hover-cubic), box-shadow 250ms var(--hover-cubic);
  transition: color 250ms var(--hover-cubic), background-color 250ms var(--hover-cubic), box-shadow 250ms var(--hover-cubic), -webkit-box-shadow 250ms var(--hover-cubic);
  color: var(--text-black);
  background-color: #f5f4fa;
  border-radius: 4px;
}

.filter__btn--active, .filter__btn:hover, .filter__btn:focus {
  color: #ffffff;
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card {
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
}

.card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--hover-cubic);
  transition: -webkit-box-shadow 250ms var(--hover-cubic);
  transition: box-shadow 250ms var(--hover-cubic);
  transition: box-shadow 250ms var(--hover-cubic), -webkit-box-shadow 250ms var(--hover-cubic);
}

.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__img {
  max-width: 100%;
}

/* overlay */
.card__overlay-box {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transform: translate(0);
          transform: translate(0);
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition: -webkit-transform 250ms var(--hover-cubic);
  transition: -webkit-transform 250ms var(--hover-cubic);
  transition: transform 250ms var(--hover-cubic);
  transition: transform 250ms var(--hover-cubic), -webkit-transform 250ms var(--hover-cubic);
  color: #ffffff;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
}

.card__link:hover .card__overlay,
.card__link:focus .card__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-black);
}

.card__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.mobile-header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mob-menu-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.mobile-menu__group {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 48px;
  background-color: var(--white);
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--hover-cubic);
  transition: color 250ms var(--hover-cubic);
  color: var(--text-black);
}

.menu__link:hover, .menu__link:focus {
  color: var(--color-accent);
}

.menu__link--active {
  position: relative;
  color: var(--color-accent);
}

.menu__link--active::after {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  border-radius: 4px;
}

.header_contact {
  margin-top: auto;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/hero-bg.jpg);
  background-position: center;
  background-color: var(--bg-dark);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--white);
}

@media screen and (min-width: 480px) {
  .particular {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .particular {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) {
  .particular__card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767.98px) {
  .particular__card {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .particular__card {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .particular__card {
    margin: 15px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .particular__card {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.particular__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-grey);
  border-radius: 4px;
}

.particular__card-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--text-black);
}

@media screen and (max-width: 767.98px) {
  .particular__card-title {
    text-align: center;
  }
}

.we-do {
  padding-top: 47px;
  padding-bottom: 94px;
}

.we-do__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--text-black);
}

.we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.we-do__list-item {
  position: relative;
}

.we-do__list-item:not(:last-child) {
  margin-right: 30px;
}

.we-do__subtitle {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--bg-grey);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--text-black);
}

.team__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__card {
  background-color: var(--white);
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card:last-child {
  margin: 0;
}

.team__card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--text-black);
}

.team__card-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--text-black);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__box:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 172px;
  height: 92px;
  -webkit-transition: border-color 250ms var(--hover-cubic), color 250ms var(--hover-cubic);
  transition: border-color 250ms var(--hover-cubic), color 250ms var(--hover-cubic);
  color: var(--icon-grey);
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--bg-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin: 0;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.address__text {
  margin-bottom: 9px;
  color: var(--white);
}

.address__contact:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms var(--hover-cubic);
  transition: color 250ms var(--hover-cubic);
  color: #ffffff99;
}

.address__link:hover,
.address__link:focus {
  color: var(--color-accent);
}

.social-box__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white);
}

.social-list__link--theme-dark {
  background-color: #ffffff1a;
  color: var(--white);
}

.social-list__link--theme-dark:hover,
.social-list__link--theme-dark:focus {
  background-color: var(--color-accent);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*# sourceMappingURL=main.css.map */