.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  // position: relative;
}

.mobile-header__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mob-menu-btn {
  padding: 0;
  width: 40px;
  height: 40px;

  background-color: transparent;
}

.mobile-menu__group {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 48px;

  background-color: var(--white);
}

.menu {
  // display: flex;
  // align-items: center;
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link {
  display: block;
  // padding-top: 32px;
  // padding-bottom: 32px;
  // font-weight: 500;
  // line-height: 1.14;
  // letter-spacing: 0.02em;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms var(--hover-cubic);

  color: var(--text-black);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  &--active {
    position: relative;
    color: var(--color-accent);
  }

  &--active::after {
    content: "";
    display: none;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;

    background-color: var(--color-accent);
    border-radius: 4px;
  }
}

.header_contact {
  margin-top: auto;
}
