.particular {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.particular__card-list {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.particular__card {
  @include mq(mobile-only) {
    max-width: 100%;
    margin-bottom: 30px;
  }

  @include mq(mobile) {
    width: 450px;
  }
  @include mq(tablet) {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @include mq(desktop) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.particular__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--bg-grey);
  border-radius: 4px;
}

.particular__card-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--text-black);

  @include mq(mobile-only) {
    text-align: center;
  }
}
