:root {
    --first-font: 'Roboto';
    --second-font: 'Raleway';
    --color-accent: #2196F3;
    --text-black: #212121;
    --text-grey: #757575;
    --bg-dark: #2F303A;
    --bg-grey: #F5F4FA;
    --white: #ffffff;
    --black: #000000;
    --icon-grey: #AFB1B8;
    --hover-cubic: cubic-bezier(0.4, 0, 0.2, 1)
}