.contact {
  display: flex;
}

.contact__item:not(:last-child) {
  @include mq(mobile-only) {
    margin-bottom: 32px;
  }
  @include mq(tablet-only) {
    margin-bottom: 10px;
  }
  @include mq(desktop) {
    margin-right: 30px;
  }
}

@include mq(mobile-only) {
  .contact__item:last-child {
    margin-bottom: 32px;
  }
}
.contact__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;

  transition: color 250ms var(--hover-cubic);

  color: var(--text-grey);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  @include mq(desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
