.filter {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @include mq(tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @include mq(desktop) {
    margin-bottom: 50px;
  }
}

.filter__item {
  @include mq(mobile-only) {
    margin-bottom: 15px;
  }
  margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  transition: color 250ms var(--hover-cubic),
    background-color 250ms var(--hover-cubic),
    box-shadow 250ms var(--hover-cubic);
  color: var(--text-black);

  background-color: #f5f4fa;
  border-radius: 4px;

  &--active,
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--color-accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
