.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms var(--hover-cubic),
    color 250ms var(--hover-cubic);

  color: var(--icon-grey);
  background-color: var(--white);

  &:hover,
  &:focus {
    background-color: var(--color-accent);
    color: var(--white);
  }
}

.social-list__icon {
  fill: currentColor;
}
