.subscribe__label {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white);
}

.subscribe-form {
  display: flex;
  align-items: center;

  @include mq(not-desktop) {
    flex-direction: column;
  }
}

.subscribe-form__input {
  display: block;
  padding: 15px 16px;
  width: 100%;
  transition: border-color 250ms var(--hover-cubic);

  color: var(--white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  @include mq(not-desktop) {
    margin-bottom: 20px;
  }
  @include mq(desktop) {
    margin-right: 12px;
  }
}

.subscribe-form__input:focus {
  border: 3px solid var(--color-accent);
  outline: 0;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}
